<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>001.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>002.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>003.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>004.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>005.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>006.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>C004.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>C005.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>euler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F1153461D77E8D6004DA72E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1322F31D7EC50600E4CB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1F64D81D7319FC00EFCE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1F64E61D731A1E00EFCE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1F64F11D731A8100EFCE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1F64FC1D731AA400EFCE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1F65071D731AF000EFCE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F20CE101D755930002947F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5957571D8001AC00ED242F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
